name: Package compiled test

on: [workflow_call]

jobs:
  build:
    name: Tests with wheel package
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Build wheel
      run: pipx run build --wheel
    - name: Remove sources
      run: rm -r kuplift
    - name: Install package from wheel
      run: pip install $(ls dist/*.whl)[test]
    - name: Test installed package
      run: python -m pytest
