name: Release Workflow

on:
  release:
    types: [published]

jobs:
  tests-source:
    uses: ./.github/workflows/package-source-test.yml
  
  build-sphinx:
    needs: [tests-source]
    uses: ./.github/workflows/sphinx-documentation.yml
  
  tests-wheel:
    needs: [build-sphinx]
    uses: ./.github/workflows/package-compiled-test.yml
  
  build-package:
    needs: [tests-wheel]
    runs-on: ubuntu-latest
    steps:
      - uses: trstringer/manual-approval@v1
        with:
          secret: ${{ github.TOKEN }}
          approvers: MinaWagdi,n-voisine,tristandeb1
          minimum-approvals: 1
        timeout-minutes: 60

      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Build
        run: pipx run build

      - uses: actions/upload-artifact@v6
        with:
          name: packagefiles
          path: |
            dist/*.tar.gz
            dist/*.whl

  pypi-publish:
    needs: [build-package]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/kuplift
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: packagefiles
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1

  deploy-sphinx:
    name: Deploy documentation
    needs: [pypi-publish]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: python -m pip install .[docs] ghp-import

      - name: Build HTML
        run: | 
          cd docs/
          make html

      - name: Run ghp-import
        run: python -m ghp_import -n -p -f -o docs/build/html
