name: Build sphinx documentation

on: [workflow_call]

jobs: 
  build: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: | 
          python -m pip install --upgrade pip
          python -m pip install --extra-index-url=https://test.pypi.org/simple/ --extra docs .
      - name: Build HTML
        run: | 
          cd docs/
          make html
          