name: Build sphinx documentation

on: [workflow_call]

jobs: 
  build: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: python -m pip install .[docs]
        
      - name: Build HTML
        run: | 
          cd docs/
          make html
          